/* MealPlan.css */
.meal-plan-container {
    padding: 2rem;
    background-color: #f5f5f5;
    min-height: 100vh;
}

.subtitle {
    font-size: 1.1rem;
    font-weight: 500;
    color: #005fcc;
    margin-bottom: 1.5rem;
    letter-spacing: 0.5px;
}

.search-section {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
    width: 800px;
    max-width: 100%;
}

.search-section input[type="text"] {
    flex: 1;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
    transition: border 0.3s ease;
}

.search-section input[type="text"]:focus {
    border-color: #0077ff;
}

.search-section button {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    background-color: #0077ff;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-section button:hover {
    background-color: #005fcc;
}

.meal-cards {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
}

.meal-card {
    background: white;
    padding: 1rem;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s ease;
}

.meal-card h3 {
    font-size: 1.1rem;
    margin-top: 0.75rem;
    color: #0077ff;
}

.meal-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 6px;
}

.meal-card img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 0.75rem;
}

.meal-card:hover {
    transform: translateY(-4px);
}

.meal-cards-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin-right: 100px;
}


.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}

.pagination button {
    background-color: #0077ff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.pagination button:hover:not(:disabled) {
    background-color: #005fcc;
}

.pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.pagination span {
    font-weight: bold;
    color: #333;
}

details summary {
    margin-top: 0.5rem;
    font-weight: bold;
    cursor: pointer;
}

/*  margin */
p {
    margin-block-start: 3px;
    margin-block-end: 3px;
}